<div class="logic-block">

  <label for="inputSearch" class="header-text">Search the city</label>
  <input type="text" class="form-control" id="inputSearch" aria-describedby="cityFound"
    placeholder="Enter the city here" #searchBox [ngModel]="cityName" id="search-box"
    (input)="onSearchCity(searchBox.value)" />
    
</div>

<div class="btn-group btn-group-toggle btn-group-justified logic-block" data-toggle="buttons">

  <label class="btn btn-secondary" [ngClass]="{ active: checkToday, disabled: searchBox.value === '' }"
    (click)="onSearchDays(searchBox.value, 1)">
    <input type="radio" name="options" id="option1" (click)="onSearchDays(searchBox.value, 1)" />TODAY
  </label>

  <label class="btn btn-secondary" [ngClass]="{ active: check3Days, disabled: searchBox.value === '' }"
    (click)="onSearchDays(searchBox.value, 3)">
    <input type="radio" name="options" id="option2" />3 DAYS
  </label>

  <label class="btn btn-secondary" [ngClass]="{ active: check5Days, disabled: searchBox.value === '' }"
    (click)="onSearchDays(searchBox.value, 5)">
    <input type="radio" name="options" id="option3" />5 DAYS
  </label>

</div>
