.logic-block {
  padding: 10px;
}

.header-text {
  margin-bottom: 10px;
}

.period-buttons {
  padding: 10px 0;
  display: inline-flex;
}

.period-button {
  width: 100%;
}

.active {
  border: 2px solid rgba(94, 89, 89, 0.466);
}
