<div class="rng-content">
  <div class="data-column">
    <app-search-city
      (searched)="onSearched($event)"
      [cityName]="weatherItems?.cityName"
      [currentPeriod]="currentPeriod"
    ></app-search-city>

    <div *ngIf="showItems">
      <div class="logic-block head-text">
        <span
          >City: {{ weatherItems.cityName }}, Country:
          {{ weatherItems.country }}
        </span>
      </div>

      <div class="weather-grid logic-block">
        <app-weather-item
          class="weather-grid"
          *ngFor="let weatherItem of weatherItems.weatherData"
          [weatherItem]="weatherItem"
        ></app-weather-item>
      </div>
    </div>
  </div>

  <app-search-history
    class="side-bar"
    [searchHistoryItems]="searchHistoryItems"
    (repeatSearch)="onRepeatedSearch($event)"
    (deleteSearch)="onDeletedSearch($event)"
  ></app-search-history>
</div>
