<div *ngIf = "searchHistoryItems?.length > 0" class="logic-block">
  <p class="header-text">Search history:</p>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let item of searchHistoryItems"
    >
      <button class="btn btn-link" (click)="onRepeatSearch(item)">
        {{ item.city }} {{ item.periodLabel }}
      </button>

      <button
        class="badge badge-primary badge-pill justify-content-between delete-history"
        (click)="onDeleteSearch(item)"
      >
        X
      </button>
    </li>
  </ul>
</div>
